<h1><%= @task.title %></h1>
<div class="taskBorder taskBackground taskCard">
  <p>
    <%= @task.details %>
  </p>
</div>
<div class="taskPaddingX">
  <% if @task.completed == true %>
    <i class="fa-regular fa-square-check"></i> This task is completed
  <% else %>
    <i class="fa-regular fa-square"></i> This task is not completed yet
  <% end %>
</div>

<p class="taskPaddingX">
  <%= link_to(tasks_path) do %>
    <span><i class="fa-solid fa-rotate-left"></i>Back to list</span>
  <% end %>
</p>

<button class="taskBorder">
  <%= link_to(edit_task_path) do %>
    <span><i class="fa-solid fa-pencil"></i>Edit this task</span>
  <% end %>
</button>
